.App {
  text-align: center;
  margin-bottom: 40px;
}

.App-header {
  height: 150px;
  padding: 20px;
  margin-top: -30px;
}

textarea {
  width: 85%;
  max-width: 800px;
  height: 200px;
  margin: 20px 20px 0px 20px;
}

#preview {
  width: 85%;
  max-width: 600px;
  overflow-wrap: normal;
  margin: 0px auto;
  text-align: left !important;
}